.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    
    & input {
        height: 25px;
        border-radius: 5px;
        border-color: inherit;
        background-color: var(--background-cta);
        border-style: inherit;
        box-shadow: 3px 3px 2px var(--background-cta);
    }
    & label{
        margin-bottom: 5px;
    }
    &-name{
        display: flex;
        justify-content: space-between;
        gap:20px;

        &-lastname{
            display: flex;
            flex-direction: column;
            color: var(--background-cta);
            font-weight: 700;
            width: 50%;

            & label::after{
                content: '*';
                color: var(--background-cta);
            }
        }
        &-firstname{
            display: flex;
            flex-direction: column;
            color: var(--background-cta);
            width: 50%;
        }
    }
    &-contact{
        display: flex;
        justify-content: space-between;
        gap:20px;
        
        &-email{
            display: flex;
            flex-direction: column;
            color: var(--background-cta);
            font-weight: 700;
            width: 50%;

            & label::after{
                content: '*';
                color: var(--background-cta);
            }
        }
        &-tel{
            display: flex;
            flex-direction: column;
            color: var(--background-cta);
            width: 50%;
        }
    }
    &-objet{
        display: flex;
        flex-direction: column;
        color: var(--background-cta);
        font-weight: 700;

        & label::after{
                content: '*';
                color: var(--background-cta);
            }
    }
    &-message{
        display: flex;
        flex-direction: column;
        color: var(--background-cta);
        font-weight: 700;

        & label::after{
                content: '*';
                color: var(--background-cta);
            }

        & textarea{
            background-color: var(--background-cta);
            box-shadow: 3px 3px 2px var(--background-cta);
            height: 50px;
            border-radius: 5px;
            border-style: inherit;
        } 
    }
    &-info{
        font-size: 12px;
        color: var(--background-cta);
        font-weight: 700;

        &::before{
            content: '*';
            color: var(--background-cta);
        }
    }
    &-choice{
        display: flex;
        color: var(--background-cta);
        font-weight: 700;
        margin-top: 20px;
        & input{
            box-shadow: none;
            margin: 0 5px;
        }
        
    }
    &-button{
        width: 60%;
        margin:20px auto;
        background: var(--background-cta);
        box-shadow: 3px 3px 2px var(--background-cta);
        border-style: inherit;
        padding: 5px;
        color: var(--text-secondary);
        border-radius: 15px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
}
